<div class="flat-article-event admin">
    <div class="media">
        <a class="media-left media-top" href="#" ui-sref="app.admin.partner({ id: partner.id })">
            <div class="media-object">
                <emi-image image="partner.image" width="160px" height="80px"></emi-image>
                <!-- <emi-image image="partner.image" class="img-thumbnail partners"></emi-image> --> 
            </div>
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{partner.title | lang}}&nbsp;&nbsp;<span class="label label-danger" style="float:right; margin:2px;"><a href="#" ng-click="delete(partner.id)"><i class="fa fa-trash-o fa-lg"></i></a></span></h4>
            <p>{{partner.site}}</p>
            <p style="padding-top:2px; border-top:1px solid #E6E6E6;"><span style="color:#D9534F">{{partner.published ? "Публикуван" : "Непубликуван"}}</span>, Категория: <span style="color:green; text-transform: capitalize;">{{partner.type}}</span>, Позиция: {{partner.localId}}, 
            <span style="color:green">{{partner.deleted ? "Изтрит" : "Неизтрит"}}</span> <!-- Test only -->
            </p>
            
        </div>
    </div>
</div>