<div ng-controller="AdminPartnersCtrl">
    <ui-view/>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" bind-html-compile="alert.msg"></uib-alert>
    <div class="info-row-admin-large">
        <label class="btn btn-danger" ui-sref="app.admin.newpartner">Създаване на нов партньор</label>
    </div>
    <h2 class="admin-partners"><span>Членове</span></h2>
    <div ng-repeat="partner in partners | filter:{ type: 'member'} : true | orderBy:'localId'">
        <div class="col-sm-12 col-md-12 no-padding-lr">
            <flat-admin-partner></flat-admin-partner>
        </div>
    </div>
    <h2 class="admin-partners"><span>Партньори</span></h2>
    <div ng-repeat="partner in partners | filter:{ type: 'partner'} : true | orderBy:'localId'">
        <div class="col-sm-12 col-md-12 no-padding-lr">
            <flat-admin-partner></flat-admin-partner>
        </div>
    </div>
</div>