<div ng-controller="AdminPartnerCtrl">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="info-row-admin">
        <button class="btn btn-success" ng-click="save()">Запис</button>
        <div class="btn-group">
            <label>&nbsp;&nbsp;&nbsp;
                <input type="radio" ng-model="partner.type" value="member">&nbsp;Член&nbsp;&nbsp;</label>
            <label>
                <input type="radio" ng-model="partner.type" value="partner">&nbsp;Партньор&nbsp;&nbsp;</label>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="checkbox" ng-model="partner.published">&nbsp;&nbsp;Публикуван</label>
        </div>
        <button class="btn btn-danger" style="float:right;" ng-click="cancel()">Отказ</button>
    </div>
    <uib-tabset>
        <uib-tab heading="Редакция">
            <form>
                <div class="form-group">
                    <image-picker image="partner.image" width="400px" height="200px" /> 
                    <!-- <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Изберете Изображение&w=400&h=300" width="400px" , height="200px" style="border:1px solid #ec7373; " alt=""> -->
                    <!-- PLACEHOLDER -->
                    <!-- may need to change width height -->
                </div>
            </form>
            
            <div class="form-group row">
                <div class="col-xs-4">
                    <label>Позиция в списъка:</label>
                    <input type="number" min="1" max="50" class="form-control" placeholder="Позиция" ng-model="partner.localId">
                </div>
                <div class="col-xs-8">
                    <label>Уебсайт:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Уебсайт" ng-model="partner.site">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-6">
                    <label>Име:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Име на Български" ng-model="partner.title.bg">
                </div>
                <div class="col-xs-6">
                    <label>Име на Английски:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Име на Английски" ng-model="partner.title.en">
                </div>
            </div>

        </uib-tab>
        <uib-tab heading="Изглед">
            <!-- something -->
        </uib-tab>
</div>