<div ng-controller="AdminTeamCtrl">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="info-row-admin">
        <button class="btn btn-success" ng-click="save()">Запис</button>
        <div class="btn-group">
            <span>&nbsp;&nbsp;&nbsp;</span>
            <input type="checkbox" ng-model="team.published">&nbsp;Публикуван</label>
        </div>
        <button class="btn btn-danger" style="float:right;" ng-click="cancel()">Отказ</button>
    </div>
    <uib-tabset>
        <uib-tab heading="Редакция">
            <form>
                <div class="form-group">
                    <!-- <image-picker image="team.image" wwidth="400px" , height="300px" />  -->
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Изберете Изображение&w=400&h=300" width="400px" , height="300px" style="border:1px solid #ec7373;" alt="">
                    <!-- PLACEHOLDER -->
                    <!-- may need to change width height -->
                </div>
            </form>
            <div class="form-group row">
                <div class="col-xs-4">
                    <!-- <div class="form-group" style="margin-right:20px;"> -->
                    <label>Позиция в списъка:</label>
                    <input type="number" min="1" max="50" class="form-control" placeholder="Позиция" ng-model="team.localId">
                </div>
                <div class="col-xs-8">
                    <label>Email:</label>
                    <input type="Email" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Ел.поща" ng-model="team.email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label>Име и Фамилия:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Име на Български" ng-model="team.name.bg">
                </div>
                <div class="col-xs-6">
                    <label>Име и Фамилия на Английски:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Име на Английски" ng-model="team.name.en">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label>Професия:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Професия на Български" ng-model="team.job.bg">
                </div>
                <div class="col-xs-6">
                    <label>Професия на Английски:</label>
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Професия на Английски" ng-model="team.job.en">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label>Телефон:</label>
                    <input type="tel" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Телефон за България" ng-model="team.phone.bg">
                </div>
                <div class="col-xs-6">
                    <label>Телефон за Чужбина:</label>
                    <input type="tel" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Телефон за Чужбина" ng-model="team.phone.en">
                </div>
            </div>
            <md-divider></md-divider>
            <div class="form-group" style="padding-top: 20px;">
                <label>Биография</label>
                <div style="height:250px; border:1px solid green;" ui-tinymce="bioBgOptions" ng-model="bio.bg">bla bla</div>
                  
            </div>
            <md-divider></md-divider>
            <div class="form-group" style="padding-top: 20px;">
                <label>Биография на Английски:</label>
                <div style="height:250px; border:1px solid green;" ui-tinymce="bioEnOptions" ng-model="bio.en">bla bla</div>

            </div>
        </uib-tab>
        <uib-tab heading="Изглед">
            <!-- something -->
        </uib-tab>
</div>