<div ng-controller="AdminTeamCtrl">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="info-row-admin">
        <button class="btn btn-success" ng-click="save()">Запис</button>
        <div class="btn-group">
            <span>&nbsp;&nbsp;&nbsp;</span>
            <input type="checkbox" ng-model="team.published">&nbsp;Публикуван</label>
        </div>
        <button class="btn btn-danger" style="float:right;" ng-click="cancel()">Отказ</button>
    </div>
    <uib-tabset>
        <uib-tab heading="Редакция">
            <form>
                <div class="form-group">
                    <!-- <image-picker image="team.image" width="400px" , height="300px" />  -->
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Изберете Изображение&w=400&h=300" width="400px" , height="300px" alt="">
                    <!-- PLACEHOLDER -->
                    <!-- may need to change width height -->
                </div>
            </form>
            <!-- <p>
                <label>Име:</label>
                <h3><b>
            		<input type="text" class="form-control" placeholder="Име на Български" 
            		ng-model="team.name.bg"></b>
        		</h3>
            </p> -->
            <div class="form-group">
                <label>Име:</label>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Име на Български" ng-model="team.name.bg">
            </div>
            <div class="form-group">
                <label>Професия:</label>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Професия на Български" ng-model="team.job.bg">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="Email" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Професия на Български" ng-model="team.email">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="Email" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Ел.поща" ng-model="team.email">
            </div>
            <div class="form-group">
                <label>Телефон:</label>
                <input type="tel" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Телефон за България" ng-model="team.phone.bg">
            </div>
            <md-divider></md-divider>
            <div class="form-group">
                <label>Биография</label>
                <div style="height:250px; border:1px solid #ec7373;"></div>
                <!-- <div style="height:400px" ui-tinymce="htmlBgOptions" ng-model="html.bg"></div> -->
            </div>
            <div class="form-group">
                <label>Име на Английски:</label>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Име на Английски" ng-model="team.name.en">
            </div>
            <div class="form-group">
                <label>Професия на Английски:</label>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Професия на Английски" ng-model="team.job.en">
            </div>
            <div class="form-group">
                <label>Телефон за Чужбина:</label>
                <input type="tel" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Телефон за Чужбина" ng-model="team.phone.en">
            </div>
            <md-divider></md-divider>
            <div class="form-group">
                <label>Биография на Английски:</label>
                <div style="height:250px; border:1px solid #ec7373;"></div>
                <!-- <div style="height:400px" ui-tinymce="htmlEnOptions" ng-model="html.en"></div> -->
            </div>
            
        </uib-tab>
        <uib-tab heading="Изглед">
            <!-- something -->
        </uib-tab>
</div>