<div ng-controller="AllTeamsCtrl">
    <div ng-repeat="team in allTeams">
        <div class="panel panel-default team">
            <div class="panel-heading team">
                <div class="left">
                    <h3 class="panel-title">{{team.name | lang}} - 
                      <span>{{team.job | lang}}</span>
                    </h3>
                </div>
                <div class="right" ng-click="show = ! show" ng-show="true">
                    <a href="">{{'BIO' | translate}}&nbsp;
                    <i class="fa fa-chevron-down" ng-class="{'rotate-180': show}"></i>
                  </a>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    <a href="mailto:{{team.email | lang}}">
                      <span class="glyphicon glyphicon-envelope"></span>
                      &nbsp; {{team.email | lang}}
                    </a>
                </p>
                <p>
                    <a href="tel:{{team.phone | lang}}">
              <span class="glyphicon glyphicon-earphone"></span>
              &nbsp;&nbsp;&nbsp;{{team.phone | lang}}
            </a>
                </p>
                <div class="team-container" ng-class="{ 'display-class': ! show }">
                    <div class="team-bio" >
                        <div class="img-container">
                            <emi-image image="team.image" class="img-thumbnail"></emi-image>
                        </div>
                        <div ng-bind-html="team.bio"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>